@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #ccc;
  background: #222;
  font-family: monospace; }

#page {
  height: 100vh;
  width: 100vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#wheel-box {
  flex: 0 0 auto;
  width: 600px;
  height: 600px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #wheel-box #wheel {
    transition: all 0.2s linear; }
    #wheel-box #wheel line {
      stroke-width: 1;
      stroke: #4d4d4d; }
    #wheel-box #wheel path {
      fill: rgba(0, 0, 0, 0.2); }
      #wheel-box #wheel path.awake-hours {
        fill: rgba(225, 225, 225, 0.3); }
      #wheel-box #wheel path.work-hours {
        fill: rgba(90, 0, 0, 0.4); }
      #wheel-box #wheel path.social-hours {
        fill: rgba(180, 204, 5, 0.3); }
    #wheel-box #wheel text {
      text-anchor: middle;
      fill: #ccc; }
  #wheel-box #wheel-locations {
    transition: all 0.2s linear; }
    #wheel-box #wheel-locations text {
      text-anchor: start;
      fill: #ccc; }
  #wheel-box svg {
    position: absolute;
    top: 0;
    left: 0; }

#locations {
  position: relative;
  width: 1px;
  height: 1px;
  flex: 0 0 auto; }
  #locations .location {
    height: 13px;
    width: 1px;
    margin-top: -6px;
    display: block;
    white-space: nowrap;
    position: absolute; }
    #locations .location:before {
      content: '— '; }

form .form-group {
  display: inline-block; }

a, a:visited, a:hover {
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px dotted #ccc; }

input,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 13px;
  font-family: monospace; }

form input, form textarea, form select {
  background-color: #555;
  border: none;
  color: #FFFFFF; }

form input {
  padding: 5px; }

form select {
  padding: 3px; }

form label {
  color: #AAAAAA;
  padding-top: 0px;
  padding-bottom: 0px; }

form button.button-submit {
  background-color: #222222;
  border: solid 1px #999999;
  color: #CCCCCC;
  padding: 3px 10px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 0px; }
